* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 50px 0px 30px 0px;
    text-align: center;
    font-size: 40px;
}

header p {
    font-size: 20px;
}

.pads {
    background: lightblue;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pads > div {
    height: 100px;
    width: 100px;
    flex: 1;
}

.pads p {
    text-align: center;
    padding: 15%;
}

.pad1 {
    background: #60d394;
}

.pad2 {
    background: #ff4848;
}

.pad3 {
    background: #ffff4a;
}

.pad4 {
    background: #f6aa1c;
}

.pad5 {
    background: #b43bb4;
}

.pad6 {
    background: #4949fa;
}

@keyframes jump {
    0%   {background-color:red; transform: scale(1);}
    25%  {background-color:yellow; transform: scale(1.2);}
    50%  {background-color:blue; transform: scale(1.4);}
    75%  {background-color:green; transform: scale(1.2);}
    100% {background-color:red; transform: scale(1);}
}

.visual > div{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #0baa0b;
    position: relative;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: jump;
    animation-duration: 4s;
}