* {
    margin: 0;
    padding: 0;
}

body, html {
    font-family: sans-serif;
    scroll-behavior: smooth;
    background: linear-gradient(to right, #fff, #f6f6f6);
}

a {
    text-decoration: none;
}

nav {
    padding: 1em;
    height: 100px;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Lexend Deca', sans-serif;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
}

nav ul li:first-child {
    margin-right: auto;
}

nav a {
    margin: 1em;
    color: white;
    font-size: 20px;
    text-transform: capitalize;
}

nav a:hover {
    color: #fb8602;
}

nav a > img {
    flex: 2 0px;
    width: 70px;
}

nav ul li button {
    background-color: #43c816;
    border: none;
    height: 45px;
    width: 150px;
    color: #1e580a;
    font-family: 'Lexend Deca', sans-serif;
    text-transform: capitalize;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 15px;
}

nav ul li button:hover {
    background-color: #37a512;
    transform: scale(1.1);
}

.landing-page {
    height: 100vh;
    background: url('vectors/images/background2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.overlay {
    height: 100vh;
    background-color: rgba(86, 62, 26, 0.2);
}

.slogan {
    height: 80%;
    display: flex;
    align-items: center;
   color: white;
   font-family: 'Lexend Deca';
}

span.green {
    color: #43c816;
}

.slogan h1 {
    margin-left: 15%;
    font-size: 10vh;
}

.packages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 5% 15% 5% 15%;
    position: relative;
}

.packages h1{
    font-family: 'Lexend Deca', sans-serif;
    color: black;
}

.packages h3 {
    color: gray;
    font-weight: lighter;
}

.package-item {
    height: 500px;
    border: 1px solid #d3d3d3;
    width: 400px;
    padding: 1%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: stretch;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    position: relative;
}

.package-item button {
    background-color: #43c816;
    border: none;
    height: 45px;
    width: 150px;
    color: #1e580a;
    border-radius: 30px;
    font-family: 'Lexend Deca', sans-serif;
    text-transform: capitalize;
    cursor: pointer;
    transition: all 0.5s ease;
    box-shadow: 0px 8px 15px rgba(108, 255, 9, 0.2);
}

.package-item button:hover {
    transform: translateY(-10px);
}

.small-text {
    position: absolute;
    bottom: 10;
    text-align: center;
    width: 100%;
    transition: all 0.2 ease;
}

.small-text a:hover {
    color: black;
    transform: translateX(10px);
}

.about-us {
    padding-left: 15%;
    padding-right: 15%;
    height: 50vh;
    background: url('vectors/vegetables.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 200px;
    background-attachment: fixed;
    position: relative;
}

.about-us h1 {
    text-align: right;
    font-size: 80px;
    font-family: 'Lexend Deca';
}

.about-us p {
    line-height: 25px;
    text-align: justify;
}

.content {
    width: 50%;
    position: absolute;
    top: 100;
    right: 100;
    color: white;
}

.carrot-paragraph {
    width: 500px;
}

footer {
    height: 25vh;
    width: 100%;
    background: white;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    color: black;
    font-size: 24px;
}

footer ul {
    list-style-type: none;
    width: 300px;
    height: 100%;
}

footer ul li h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Lexend Deca";
    font-size: 30px;
}

footer ul li a {
    color: black;
}

footer ul li a:hover {
    text-decoration: dotted underline;

}

.col1 .social-icons{
    display: flex;
    flex-direction: row;
}

.col3 input{
    padding: 1%;
    width: 175px;
    height: 50px;
    border: none;
    background-color: lightgray;
    color: grey;

}

.col3 button {
    width: 100px;
    height: 50px;
    background-color: #43c816;
    color: #1e580a;
    border: none;
    font-family: 'Lexend Deca', sans-serif;
    text-transform: capitalize;
    cursor: pointer;
    transition: all 0.5s ease;
    margin-left: 5px;
}